caption {
    color: white;
    background-color: maroon;
    font-size: xx-large;
}

table {
    border: solid 1pt black;
}

th {
    border: solid 1pt black;
    background-color: lightgray;
    font-size: x-large;
    font-weight: bold;
}

td {
    border: solid 1pt black;
    text-align: center;
    margin: 0%;
}

img {
    border-radius: 10px;
    margin-left: 0pt;
    margin-right: 0pt;
}

table table img {
    border-radius: 10px;
    margin-left: 0pt;
    margin-right: 0pt;
}